body{
    background: linear-gradient(90deg, rgba(244,183,157,1) 0%, rgba(237,95,107,1) 55%, rgba(236,116,116,1) 100%);
    font-family: 'Lora', serif;
    
}
h2{
    font-weight: 700;
}


.bg-light{
    background: linear-gradient(90deg, rgba(244,183,157,1) 0%, rgba(237,95,107,1) 55%, rgba(236,116,116,1) 100%);
}

.carousel{
    max-width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.carousel img{
    height: 500px;
    width: 200px;
}

.div_titulo{
    display: flex;
}

.titulo{
    padding-left: 50px;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 170, 169, 0.6);
}

.footer__sections {
    min-height: 120px;
}

.footer_redes a img{
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
}

.footer_redes{
    padding-top: 20px;
}

span{
    font-size: 25px;
    margin: 10px;
}

.footer__copyright{
    font-size: 14px;
}

@media (max-width:992px){
    .mapa{
        max-width: 280px;
        max-height: 280px;
    }

    .formulario{
        max-width: 280px;
    }
    .carousel{
        max-width: 280px;
    }

    .carousel img{
        height: 280px;
        width: 200px;
    }

    iframe{
        max-width: 280px;
        max-height: 180px;
    }

    .titulo{
        padding-left: 10px;
    }

    .footer__copyright{
        text-align: center;
    }
}